<nav
  class="navbar navbar-expand-lg navbar-light bg-white px-5 sticky-top border-bottom"
>
  <div class="container-fluid">
    <div>
      <img
        src="assets/images/logo-trans.png"
        alt=""
        srcset=""
        width="130"
        height="50"
      />
      <a class="navbar-brand text-secondary" href="#"
        ><i class="bi bi-geo-alt-fill"></i> Dubai</a
      >
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
          <li class="nav-item ms-4">
            <a class="nav-link" aria-current="page" routerLink="/">HOME</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link" routerLink="/buy">BUY</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link" routerLink="/sell">SELL</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link" href="#"><i class="bi bi-bell-fill"></i></a>
          </li>
          <li class="nav-item ms-4 ">
            <a class="nav-link" href="#"><i class="bi bi-heart-fill"></i></a>
          </li>
          <!-- <li class="nav-item">
            <div class="rounded-circle bg-secondary">A</div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-white">
  <div>
    <img
      src="assets/images/logo-trans.png"
      alt=""
      srcset=""
      width="130"
      height="50"
    />
  </div>
  <div class="d-flex pt-3 justify-content-between fw-bold">
    <div class="">
      <h4 class="fw-bold pb-4">Locations</h4>
      <div class="text-secondary">
        <p>Dubai</p>
        <p>Abu Dhabi</p>
        <p>Sharjah</p>
        <p>Ras Al-Khaimah</p>
        <p>Fujairah</p>
        <p>Ajman</p>
        <p>Umm Al-Quwain</p>
      </div>
    </div>
    <div class="">
      <h4 class="fw-bold pb-4">Languages</h4>
      <div class="text-secondary">
        <p>English</p>
        <p>اَلْعَرَبِيَّةُ</p>
      </div>
    </div>
    <div class="">
      <h4 class="fw-bold pb-4">Support</h4>
      <div class="text-secondary">
        <p>Contact Us</p>
        <p>Help</p>
        <p>Faq</p>
      </div>
    </div>
    <div class="">
      <h4 class="fw-bold pb-4">Social</h4>
      <div class="text-secondary">
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Instagram</p>
        <p>Whats app</p>
        <p>Linkedin</p>
      </div>
    </div>
    <div class="">
      <h4 class="fw-bold pb-4">Company</h4>
      <div class="text-secondary">
        <p>Home</p>
        <p>Buy</p>
        <p>Sell</p>
        <p>About</p>
        <p>Categories</p>
      </div>
    </div>
  </div>

  <h5 class="text-center mb-4 text-secondary">
    Copyright 2020, All Right Reserved
    <span class="text-danger fw-bold">SHANNUN</span>
  </h5>
</footer>
